@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');


:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav-bar{
    display: flex;
    list-style: none;
    padding-right: 30%;
}


ul{
    cursor: pointer;
}

ul li{
    padding: 20px;
    transition: all 0.5s ease-in-out;
}

ul li:hover{
    color: aliceblue;
    background-color: blue;
}

.logo, .btn{
    padding: 0px 20px;
}


.btn {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25%;
    padding: 20px 20px;
    margin-right: 20px;
}

.bg-image{
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.logo img{
    padding-top: 25px;
    width: 40%;
    height: 50%;
}


.about{
    display: flex;
    width: 100%;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
}

.about-content-txt{
    display: flex;
}

.about-content-txt img{
    margin-left: 10px;
    padding-bottom: 10px;
}

.about-content-txt2{
    display: flex;
}

.about-content-txt2 img{
    width: 5%;
    height: 7%;
    padding-top: 30px;
    margin-left: 10px;
}

.about-content-txt3{
  display: flex;
}

.about-content-txt3 img{
  width: 5%;
  height: 7%;
  margin-left: 10px;
}

.about-content-txt4{
  display: flex
}

.about-content-txt4 img{
  width: 5%;
  height: 7%;
  margin-left: 10px;
}

.about-content-cd, .about-content-cd-cd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}


.about-content-cd-2 h3, .about-content-cd-4{
    padding-top: 30px;
}

p{
    padding-top: 5px;
}

@keyframes slide{
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos{
  overflow: hidden;
  padding: 60px 0;
  background: #e5ca93;
  white-space: nowrap;
}

.logos-slide{
  display: inline-block;
  animation: 30s slide infinite linear;
}

.logos:hover .logos-slide{
  animation-play-state: paused;
}

.logos-slide img{
  height: 50px;
  margin: 0 40px;
}




.menu-txt{
    background-color: green;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
  }
  
  .menu-card-container{
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 2500px;
    margin: 0 50px;
    padding: 10px 15px;
    max-width: 450px;
    gap: 12px;
  }
  
  .product-detail{
    display: flex;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  

.contact{
  min-height: 50vh;
  background-color: #919494;
  padding: 50px;
  text-align: center;
}


.container{
  max-width: 800px;
  margin: 0 auto;
}

.container h2{
  font-size: 36px;
  margin-bottom: 40px;
  color: white;
}

.contact-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.contact-form{
  text-align: left;
}

.contact-form h3{
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.form-group{
  margin-bottom: 20px;
}

input, textarea{
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f8f9fa;
  color: #333;
}

input:focus,
textarea:focus{
  outline: none;
  box-shadow: 0 0 8px #bbb;
}

button{
  display: inline-block;
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover{
  background-color: #45a049;
}

.contact-info{
  text-align: left;
  margin-left: 50px;
}

.contact-info h3{
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.contact-info p{
  margin-bottom: 10px;
  color: #555;
}

.contact-info i{
  color: #4caf50;
  margin-right: 10px;
}

.footer{
  background-color: #111;
}

.footer-container{
  width: 100%;
  padding: 70px 30px 20px;
}

.social-icon{
  display: flex;
  justify-content: center;
}

.social-icon a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.social-icon a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.social-icon a:hover{
  background-color: #111;
  transition: 0.5s;
}

.social-icon a:hover i{
  color: white;
  transition: 0.5s;
}

.footer-navigation{
  margin: 30px 0;
}

.footer-navigation ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-navigation ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footer-navigation ul li a:hover{
  opacity: 1;
}

.footer-btm{
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footer-btm p{
  color: white;
}

.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}