@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');


:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav-bar{
    display: flex;
    list-style: none;
    padding-right: 30%;
}


ul{
    cursor: pointer;
}

ul li{
    padding: 20px;
    transition: all 0.5s ease-in-out;
}

ul li:hover{
    color: aliceblue;
    background-color: blue;
}

.logo, .btn{
    padding: 0px 20px;
}


.btn {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25%;
    padding: 20px 20px;
    margin-right: 20px;
}

.bg-image{
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.logo img{
    padding-top: 25px;
    width: 40%;
    height: 50%;
}

.about{
    display: flex;
    width: 100%;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
}

.about-content-txt{
    display: flex;
}

.about-content-txt img{
    margin-left: 10px;
    padding-bottom: 10px;
}

.about-content-txt2{
    display: flex;
}

.about-content-txt2 img{
    width: 5%;
    height: 7%;
    padding-top: 30px;
    margin-left: 10px;
}


.about-content-cd, .about-content-cd-cd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}


.about-content-cd-2 h3, .about-content-cd-4{
    padding-top: 30px;
}

p{
    padding-top: 5px;
}