@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Baskervville:ital@0;1&family=Patrick+Hand&display=swap');
:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.nav-bar{
    display: flex;
    list-style: none;
    padding-right: 11%;
}

nav img{
  display: flex;
  height: 30px;
  width: 30px;
  margin-right: 30px;
}

ul{
    cursor: pointer;
    text-decoration: none;
}

ul li a{
    padding: 20px;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color: #000;
  }

ul li a:hover{
    color: aliceblue;
    background-color: brown;
}

.logo, .btn{
    padding: 0px 20px;
}


.btn {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25%;
    padding: 20px 20px;
    margin-right: 20px;
}

.bg-image{
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.logo img {
  width: 200px; 
  height: auto; 
  max-width: 100%; 
}

h2 img {
  display: inline; 
  vertical-align: middle; 
  margin-right: 10px;
  margin-bottom: 10px; 
}

.total-price {
  margin-left: 5px; 
}


#about{
    display: flex;
    width: 100%;
    background-color: whitesmoke;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
}

.about-content-txt{
    display: flex;
}


.about-content-txt img{
    margin-left: 10px;
    padding-bottom: 10px;
}

h3.about-content-1{
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
}

h2.about-content-2{
text-decoration: underline brown;
}

h2.about-content-2, h3{
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.about-content-txt2{
    display: flex;
}

.about-content-txt2 img{
    width: 5%;
    height: 7%;
    padding-top: 30px;
    margin-left: 10px;
}

.about-content-txt3{
  display: flex;
}

.about-content-txt3 img{
  width: 5%;
  height: 7%;
  margin-left: 10px;
  margin-top: 3px;
}

.about-content-txt4{
  display: flex
}

.about-content-txt4 img{
  width: 5%;
  height: 7%;
  margin-left: 10px;
  margin-top: 6px;
}

.about-content-cd, .about-content-cd-cd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}


.about-content-cd-2 h3, .about-content-cd-4{
    padding-top: 30px;
}

p{
    padding-top: 5px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    text-align: justify;
}

@keyframes slide{
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos{
  overflow: hidden;
  padding: 60px 0;
  background: #e5ca93;
  white-space: nowrap;
}

.logos-slide{
  display: inline-block;
  animation: 30s slide infinite linear;
}

.logos:hover .logos-slide{
  animation-play-state: paused;
}

.logos-slide img{
  height: 50px;
  margin: 0 40px;
}

.menu-txt{
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 30px;
    align-items: center;
    display: flex;
  }

h1.menu-txt{
  letter-spacing: 3px;
  text-decoration: underline brown;
  font-size: 45px;
}  
  
  .menu-card-container{
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    height: 100%;
    margin: 50px;
    gap: 30px;
  }
  
  .card{
    width: 100px;
    height: 460px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
    border-radius: 12px;
  }

  .content {
    background-color: #fff;
    margin-left: 10px;
  }

  .card img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    padding-left: 80px;
    margin-top: 0px;
}
  
.review-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.stars i{
  color: rgb(255, 230, 0);
  font-size: 16px;
}

.stars span, .description p{
  font-size: 16px;
  color: rgb(36, 36, 36);
}

.name, .price{
  font-size: 16px;
  color: #000;
  margin-left: 10px;
  margin-bottom: 4px;
} 

.description{
  margin-left: 10px;
  margin-right: 10px;
}

.description p{
  font-size: 12px;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 9px;
}

.card-button {
  display: flex;
  align-items: center;
  background: #06d6a0;
  padding: 5px 10px; 
  border-radius: 5px;
  cursor: pointer;
}

.card-button p {
  font-size: 14px; 
  padding: 5px; 
}

.cart-icon {
  width: 24px; 
  height: 24px; 
  text-align: center;
  cursor: pointer;
  border-radius: 50%; 
  line-height: 24px; 
  background: #06c995;
  padding: 3px 3px; 
}

@media screen and (min-width: 500px) {
  .card{
    width: 350px;
    margin: 0 auto;
  }
}
  

#contact{
  min-height: 50vh;
  background-color: #919494;
  padding: 50px;
  text-align: center;
}


.container{
  max-width: 800px;
  margin: 0 auto;
}

.container h2{
  font-size: 36px;
  margin-bottom: 40px;
  color: black;
  text-decoration: underline brown;
}

.contact-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.contact-form{
  text-align: left;
}

.contact-form h3{
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.form-group{
  margin-bottom: 20px;
}

input, textarea{
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #f8f9fa;
  color: #333;
}

input:focus,
textarea:focus{
  outline: none;
  box-shadow: 0 0 8px #bbb;
}

button{
  display: inline-block;
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover{
  background-color: brown;
}

.contact-info{
  text-align: left;
  margin-left: 50px;
}

.contact-info h3{
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.contact-info p{
  margin-bottom: 10px;
  color: black;
}

.contact-info i{
  color: brown;
  margin-right: 10px;
}

.footer{
  background-color: #111;
}

.footer-container{
  width: 100%;
  padding: 70px 30px 20px;
}

.social-icon{
  display: flex;
  justify-content: center;
}

.social-icon a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.social-icon a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.social-icon a:hover{
  background-color: #111;
  transition: 0.5s;
}

.social-icon a:hover i{
  color: black;
  transition: 0.5s;
}

.footer-navigation{
  margin: 30px 0;
}

.footer-navigation ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-navigation ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footer-navigation ul li a:hover{
  opacity: 1;
}

.footer-btm{
  background-color: #000;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.footer-btm p{
  color: white;
  text-align: center;
  justify-content: center;
}

.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  nav {
      height: 60px; /* zmniejszenie wysokości paska nawigacji na mniejszych ekranach */
  }

  nav img {
      height: 20px; /* zmniejszenie rozmiaru logo na mniejszych ekranach */
      width: 20px;
      margin-right: 20px;
  }
}

@media screen and (max-width: 500px) {
  nav {
      padding: 0; /* usuń padding poziomy na mniejszych ekranach */
  }
}

  .remove-item {
    cursor: pointer;
    margin-right: 15px;
}

.addtocart{
  display:block;
  padding:8px 16px; /* Zmieniam em na piksele */
  border-radius:100px;
  border:none;
  font-size:32px; /* Zmieniam em na piksele */
  position:relative;
  background:#0652DD;
  cursor:pointer;
  height:40px; /* Zmieniam em na piksele */
  width:200px; /* Zmieniam em na piksele */
  overflow:hidden;
  transition:transform 0.1s;
  z-index:1;
}


.addtocart:hover{
  transform:scale(1.1);
}
.pretext{
  color:#fff;
  background:#0652DD;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}
i{
  margin-right:10px;
}
.done{
  background:#be2edd;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  transition:transform 0.3s ease;

  transform:translate(-110%) skew(-40deg);
}
.posttext{
  background:#be2edd;
}
.fa-check{
  background:#be2edd;
}
